body{
    width:95%;
    margin:0 auto;
    display:block;
    color:white;
    background-color: #1C1D21;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/* HTML: <div class="loader"></div> */
#loader {
    margin: 0 auto;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
            l20-1 0.8s infinite linear alternate,
            l20-2 1.6s infinite linear;
}
@keyframes l20-1{
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}

input[type=button], input[type=submit], input[type=reset], input[type=text], select, a, button{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #00000000;
    color: #FFFFFF;

}

form input, form select{
    float: none;
    width: 300px;
    overflow: hidden;
}

option{
    background-color: #1C1D21;
}

#prompt::placeholder{
    color: white;
}
#prompt{
    background-color: #515360;
    color: white;
    font-size: 15px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#chat{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form label{
    padding:12px;
    display:inline-block;
    width:280px;
}

#prompt{
    width:100%;
}

pre{
    border: 1px solid #636363;
    padding:20px;
    white-space: pre-wrap;
}

.string { color: rgba(0, 154, 0, 0.54); }
.number { color: rgba(225, 126, 0, 0.43); }
.boolean { color: #005288; }
.null { color: #7a0000; }
.key { color: #018e88; }

