<!doctype html>
<html>
<head>
    <title>Ollama Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

</head>
<body>
<h1>LLM Chat</h1>

<div>
    {% if chat_counter | int > 1 %}
    <a href="{{ url_for(request.endpoint) }}?chat_id={{ chat_counter | int - 1 }}">Last Chat</a>
    {% endif %}
    <label>Chat ID: {{ chat_counter }}</label>
    <a href="{{ url_for(request.endpoint) }}?chat_id={{ chat_counter | int + 1 }}">Next Chat</a>
</div>
<div id="chat">
    {% for message in old_messages %}
        <div class="user_message">{{message.content}}</div>
    {% endfor %}
</div>
<div id="loader"></div>
<br>
<br>
<form id="chatbox" method=post action="/promptsocket" enctype=multipart/form-data>
    <label for="file-upload" class="custom-file-upload">
        File Upload (PDF, HTML/TXT, AUDIO)
    </label>
    <input id="file-upload" type="file" name="file" name="file" multiple/>
    <span id="files-selected"></span>
    <br>
    <label>PDF Extractor: </label>
    <input type="hidden" name="llm" value="{{ llm }}">
    <input type="hidden" name="chat_counter" value="{{ chat_counter }}">
    <select name="pdf_extractor">
        <option value="pdfplumber">PDFPlumber</option>
        <option value="pypdfloader">PyPDFLoader</option>
        <option value="pdfreader">PdfReader</option>
        <option value="ocr">PDF2image With Tesseract (OCR)</option>
    </select>
    <br>
    <label>Audio Transcription (Whisper): </label>
    <select name="whisper">
        <option value="local">Local</option>
        <option value="api">OpenAI API</option>
    </select>
    <br>
    <label>LLM Framework</label>
    <select name="llm_framework" id="llm_framework">
        <option value="langchain">LangChain</option>
        <option value="llamaindex">LlamaIndex</option>
    </select>
    <br>
    <label>System Prompt:</label>
    <select name="system_prompt">
        <option value="json">Answer with JSON</option>
        <option value="json2">Answer with prestructured JSON</option>
        <option value="normal">Answer in normal Text</option>
        <option value="nocontext">Answer with no context given</option>
    </select>
    <br>
    <label>LLM Model: </label>
    <select name="model">
        {% for model in models %}
            <option value ="{{ model }}" >{{ model }}</option>
        {% endfor %}
    </select>
    <!--<input type="checkbox" name="vector_store" value="true"> Use VectorDB </input<br>-->
    <br><br>
    <textarea placeholder="Please write a prompt" rows="10" cols="30" name="prompt" id="prompt"></textarea>
    <br>
    <br>
    <button id="sendSocket">Send</button>
</form>

<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>